<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="IDbService" value="Timor.HomeWork.Service,Timor.HomeWork.Service.DbService"/>
  </appSettings>
  <connectionStrings>
    <add name="Local" connectionString="Data Source=.; Database=OrmTest; User ID=sa; Password=sa; MultipleActiveResultSets=True"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>